@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(20, 20, 20);
}

footer {
    color: white;
}

.img-wrapper {
    height: 75%;
}

.ms-card {
    height: 650px;
}

.ms-title {
    height: 40px;
}